*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(images/spacex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    /* animation-play-state: running; 
    animation-timing-function: ease-in-out; */
    /* /* It can be used also not necessary I think. */

}

@keyframes animate{
    0%{
        background-image: url(images/purple.jpg);
    }

    20%{
        background-image: url(images/black-hole.png);
    }
    40%{
        background-image: url(images/satrun.jpg);
    }
    60%{
        background-image: url(images/g2.jpg);
    }
    80%{
        background-image: url(images/green.jpg);
    }
    100%{
        background-image: url(images/spaceX.jpg);
    }

}
.nav-bar{
    display: flex;
    padding: 2% 4%;  
}

.nav-heading{
    color: #ffea00 ;
    font-size: 30px;
    
}
.nav-links{
     flex: 1;
     text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 10px;
    margin: 10px;
    
}

.nav-links ul a{
    color: #c8ff00;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.menu-icon{
    width: 26px;
    display: none;
    
}

.meteor img{
    width: 50px;
    /* height: 5px; */
    animation-name: meteors;
    animation-duration: 7s;
    animation-timing-function: linear;
    /* animation-delay: 0.5s; */
    animation-iteration-count: infinite;
    /* animation-direction: forward; */

}
.meteor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: -600px;
    
}


@keyframes meteors{
    0%{
        transform: translateY(0);
        opacity: 0;
       
    }
    50%{
       
        opacity: 1;
       
    }
    70%{
        
        opacity: 0;
       
    }
    100%{
        transform: translateY(-130vh);
        opacity: 0;
       
    }
}

.meteor img:nth-child(1){
    animation-delay: 2s;
}
.meteor img:nth-child(2){
    animation-delay: 1s;
}
.meteor img:nth-child(3){
    animation-delay: 3s;
}
.meteor img:nth-child(4){
    animation-delay: 4.5s;
}
.meteor img:nth-child(5){
    animation-delay: 3s;
}
.meteor img:nth-child(6){
    animation-delay: 6s;
}
.meteor img:nth-child(7){
    animation-delay: 5S;
}



@media (max-width: 700px){
    .nav-links ul li{
        display: block;
    }
    .nav-links ul{
        padding: 10px 5px;
    }
    .nav-links ul li a{
        color: #c8ff00;
        font-weight: bolder;
    }
    .nav-links {
        margin-top: 30px;
    }
    .nav-logo{
        margin-top: 10px;
        margin-left: 5px;
    }
    .menu-icon{
        display: block;
        top: 20px;
        right: 35px;
        position: absolute;
        cursor: pointer;
    }
    #mobileMenu{
        height: 0;
        overflow: hidden;
        transition: 0.1s;
    }
}

